.hidden {
  display: none !important;
}

.view {
  display: block;
}

.container {
  margin: 0 auto;
  padding: 0 1.5rem;
  max-width: 575px;
}

.row {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

/* Desktop Views */
@media screen and (min-width: 768px) {
  .container {
    max-width: inherit;
  }

  .column-half {
    width: 50%;
  }
}
